@import "partials/_colors.scss";

.city-header {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h2 {
    strong {
      color: $navyBlue;
    }
  }
  input {
    &::placeholder {
      text-align: center;
    }
  }
}
.cityShowTop {
  span {
    font-size: 30px;
  }
  select {
    margin-top: 5px;
    height: 4vh;
    width: 100%;
    text-transform: capitalize;
  }
  .slider {
    width: 100%;
    color: gray;
  }
  height: 40vh;
  h2 {
    font-size: 20px;
  }
}

.cityIndex {
  height: 100%;
  width: 100%;
  justify-content: center;
  overflow-y: visible;
}
.citiesIndexPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.eachCity {
  text-align: left;
  display: flex;
  border: 2px solid $navyBlue;
  overflow: hidden;
  height: 35vh;

  margin: 1px;
  div {
    padding: auto;
    // font-size: 32px;
    word-wrap: normal;
    margin: auto;
    text-transform: capitalize;
    color: $eggshell;
    font-weight: 800;
  }
  &:hover {
    animation: shake 1s;
  }
}

.cityShowLocations {
  height: 40vh;
  overflow-x: scroll;
  h2 {
    text-align: center;
    font-weight: 800;
    background: $navyBlue;
    color: $eggshell;
  }
}


#cityname {
  padding: 10% 0 0 10%;
  font-size: 3rem;
  color: white;
}
