@import "partials/_colors.scss";

html {
  overflow: hidden;
  height: 100%;
}
::-webkit-scrollbar {
  display: none;
}
body {
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
}


main {
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  margin-top: 5vh;
  overflow-x: hidden;
}
img {
  max-width: 100%;
  width: 100%;
}
