@import "partials/_colors.scss";

html {
  overflow: hidden;
  height: 100%;
}
::-webkit-scrollbar {
  display: none;
}
body {
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
}
.homeLanding {
  height: 92vh;
  p{
    color: $navyBlue;
    font-size: 120px;
    position: relative;
    top: 10%;
    left: 5%;
    text-transform: uppercase;
  }
}
main {
  margin-top: 8vh;
  overflow-x: hidden;
}
img {
  max-width: 100%;
  width: 100%;
}
