@import "partials/_colors.scss";
.message-response {
  margin-top: 50px;
  text-align: center;
  color: black;
  background-color: pink;
}
.homeLanding {
  background-image: url('https://media.giphy.com/media/KZApJ3BGDs7fO/giphy.gif');
  background-size: cover;
  height: 95vh;
  width: 100%;
  overflow: hidden;
  h2 {
    position: relative;
    top: 10%;
    left: 10%;
    font-size: 100px;
    color: $navyBlue;
  }
}
