@import "partials/_colors.scss";

.homeLanding {
  height: 95vh;

}

.topLeftLandingDiv {
  z-index: -50;
  h2{
    animation: adjustOpacity 5s;
    color: $eggshell;
    font-size: 80px;
    padding: 5px 40px;
    position: relative;
    top: 20%;
    left: 5%;
  }
  background-color: $coral;
  animation: adjustHeight3 1s;
  height: 40vh;
  width: auto;
  position: fixed;
  top: 0px;
  left: 10%;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
}
.topLeftLandingDivWithoutWords {
  z-index: -10;
  transform: skewX(20deg);
  background-color: $coral;
  animation: adjustHeight3 1s;
  height: 80vh;
  width: 10vh;
  position: fixed;
  top: 0px;
  left: 60%;
  border-bottom-left-radius: 50px;
}
.bottomLeftLandingDiv {
  z-index: -10;
  transform: rotate(-90deg);
  transform: skewX(-20deg);
  background-color: $navyBlue;
  animation: adjustHeight3 1s;
  height: 40vh;
  width: 10vh;
  position: fixed;
  bottom: 0px;
  right: 20vh;
  border-top-left-radius: 50px;
}
.bottomRightLandingDiv1 {
  z-index: -50;
  transform: skewX(-20deg);
  background-color: $navyBlue;
  animation: adjustHeight2 2s;
  height: 80vh;
  width: 10vh;
  position: fixed;
  bottom: 0;
  right: 200px;
  border-top-left-radius: 50px;
}


.bottomRightLandingDiv2 {
  z-index: -50;
  transform: skewX(20deg);
  background-color: $leather;
  animation: adjustHeight1 3s;
  height: 60vh;
  width: 10vh;
  position: fixed;
  bottom: 0;
  right: 10vh;
  border-top-right-radius: 50px;
}
