@import "partials/_colors.scss";
nav.nav {
  background-color: $navyBlue;
  a {
    color: $coral;
    &:hover {
      color: $eggshell;
    }
  }
}
#profilePictureNav {
  height: 5vh;
  width: auto;
}
