@import "partials/_colors.scss";

nav, .homePage, .allLocations, .allCities, .addLocation, .addCity, .login, .register, .logout, .welcome {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid $navyBlue;
}

nav {
  z-index: 9001;
  position: fixed;
  top: 0;
  width: 100%;
  height: 8vh;
  .homePage {
    height: 8vh;
    flex: auto;
    a {
      color: $navyBlue;
    }
  }
  .allCities {
    height: 8vh;
    flex: auto;
    text-align: center;
    a {
      color: $navyBlue;
    }
  }
  .addLocation {
    height: 8vh;
    flex: auto;
    text-align: center;
    a {
      color: $navyBlue;
    }
  }
  .addCity {
    height: 8vh;
    flex: auto;
    text-align: center;
    a {
      color: $navyBlue;
    }
  }
  .login {
    height: 8vh;
    flex: auto;
    text-align: center;
    a {
      color: $navyBlue;
    }
  }
  .register {
    height: 8vh;
    flex: auto;
    text-align: center;
    a {
      color: $navyBlue;
    }
  }
  .logout {
    height: 8vh;
    flex: auto;
    text-align: center;
    a {
      color: $navyBlue;
    }
  }
  .welcome {
    height: 8vh;
    flex: auto;
    text-align: center;
    a {
      color: $navyBlue;
    }
  }
}

#profilePictureNav {
  height: 8vh;
  width: auto;
}
