@import "partials/_colors.scss";
.container {
  margin-top: 35px;
}
.userProfileImage {

  height: 200px;
  width: 200px;
  border-radius: 30%;

}

.userCoverImage {
  height: 300px;
  max-width: 100%;
  // object-fit: contain;
}

#profilePictureNav {
  border-radius: 40%;
}
.user {
  height: 50vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}
