@import "partials/_colors.scss";

.userShowNavBar {
  background-color: $navyBlue;
  margin-top: 5px;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  ul {
    display: flex;
    align-items: center;
  }
  li {
    margin: 2px 20px;
  }
  a {
    text-decoration: none;
    color: $eggshell;
  }
}
.profileCities {
  height: 70vh;
  overflow-y: scroll;
  word-break: normal;
  word-wrap: break-word;
}
.profileLocations {
  height: 70vh;
  overflow-y: scroll;
  word-break: normal;
  word-wrap: break-word;
}

.profilePageTop {
    h1 {
    font-weight: 700;
    margin: 5px auto;
    font-size: 32px;
    padding-left: 20px;
  }
  p {
    font-size: 20px;
    padding-left: 20px;
  }
  img {
    height: 200px;
    width: 200px;
    border: 5px solid $navyBlue;
    border-radius: 50%;
  }
}
