@import "partials/_colors.scss";

.userShowNavBar {
  margin-top: 0;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  ul {
    display: flex;
    align-items: center;
  }
  li {
    margin: 2px 20px;
  }
  a {
    text-decoration: none;
    color: $navyBlue;
  }
}
.userShowBottom {
  padding-top: 30px;
}
.profileCities {
}
.profileLocations {
}
