<div class="locationCreate">
  <div class="columns">
    <div class="column is-half is-offset-one-quarter">
      <form ng-submit="locationsNew.create()">

        <div class="field">
          <p class="control">
            <label class="label" for="name">Name</label>
          </p>
          <input type="text" class="input" id="name" places-autocomplete name="name" ng-model="locationsNew.location.name" lat="locationsNew.location.lat" lng="locationsNew.location.lng">
        </div>

        <div class="field">
          <p class="control">
            <label class="label" for="image">Image Url</label>
          </p>
          <input type="text" class="input" id="image" name="image" ng-model="locationsNew.location.image">
        </div>

        <div class="field">
          <p class="control">
            <label class="label" for="description">Location Description</label>
          </p>
          <input type="text" class="input" id="description" name="description" ng-model="locationsNew.location.description">
        </div>

        <div class="field">
          <p class="control">
            <label class="label" for="image">City</label>
          </p>
          <span class="select is-fullwidth">
            <select name="city" id="city" ng-model="locationsNew.location.city">
              <option ng-repeat="city in locationsNew.cities" value="{{ city.id }}">{{ city.name }}</option>
            </select>

            <!-- <select name="city" id="city" ng-options="city.id as city.name for city in locationsNew.cities" ng-model="locationsNew.location.city">
          </select> -->

        </span>
      </div>

      <div class="field">
        <p class="control">
          <label class="label" for="rating">Rating</label>
        </p>
        <input type="text" class="input" id="rating" name="rating" ng-model="locationsNew.location.rating">
      </div>

      <div class="field">
        <p class="control">
          <label class="label" for="priceRating">Price Rating</label>
        </p>
        <input type="text" class="input" id="priceRating" name="priceRating" ng-model="locationsNew.location.priceRating">
      </div>

      <div class="field">
        <p class="control">
          <label class="label" for="lat">Location Latitude</label>
        </p>
        <input type="text" class="input" id="lat" name="lat" ng-model="locationsNew.location.lat">
      </div>

      <div class="field">
        <p class="control">
          <label class="label" for="lng">Location Longitude</label>
        </p>
        <input type="text" class="input" id="lng" name="lng" ng-model="locationsNew.location.lng">
      </div>

      <div class="field">
        <p class="control">
          <input type="submit" class="button is-primary is-fullwidth" value="Add">
        </p>
      </div>
    </form>
  </div>
</div>
</div>
