

<!-- ================================================== -->
<div class="columns is-fullwidth">
  <div class="column is-3">
    <div class="profilePageTop">
      <div style="height: 21vh;background-image: url('{{usersShow.user.coverPicture}}');background-size: cover;">
        <img ng-src="{{usersShow.user.profilePicture}}">
      </div>
      <h1 style="">Username: </h1>
      <p>{{ usersShow.user.username }}</p>
      <h1>Email: </h1>
      <p>{{ usersShow.user.email }}</p>
      <h1>Bio: </h1>
      <p>{{ usersShow.user.summary }}</p>
      <h1>From: </h1>
      <p>{{ usersShow.user.origin }}</p>
    </div>
  </div>
  <div class="column is-9">
    <div class="userShowNavBar columns is-12">
      <div>
      <ul>
        <li><a ng-click="profileNavCity()">Cities</a></li>
        <li><a ng-click="profileNavLocation()">Locations</a></li>
      </ul>
    </div>
  </div>
      <div class="column is-12 profileCities" ng-show="profileCities">
        <div class="columns">
          <div class="column is-12">
            <h3>{{ usersShow.user.username }}'s cities</h3>
            <p ng-if="usersShow.user.cities.length === 1"> {{ usersShow.user.cities.length }} city added</p>
            <p ng-if="usersShow.user.cities.length > 1"> {{ usersShow.user.cities.length }} cities added</p>
          </div>
        </div>
        <div  ui-sref="citiesShow({ id: cities.id })" class="columns" ng-repeat="cities in usersShow.user.cities">
          <div class="column is-3">
            <img ng-src="{{ cities.image }}">
          </div>
          <div class="column is-9">
            {{ cities.name }}<br>
            {{ cities.description}}
            <p><strong>{{ cities.createdBy.username }}</strong></p>
          </div>
        </div>
      </div>
      <div class="column is-12 profileLocations" ng-show="profileLocations">
        <div class="columns">
          <div class="column is-12">
            <h3>{{ usersShow.user.username }}'s locations</h3>
            <p ng-if="usersShow.user.locations.length === 1"> {{ usersShow.user.locations.length }} location added</p>
            <p ng-if="usersShow.user.locations.length > 1"> {{ usersShow.user.locations.length }} locations added</p>
          </div>
        </div>
        <div  ui-sref="locationsShow({ id: location.id })" class="columns" ng-repeat="location in usersShow.user.locations">
          <div class="column is-3">
            <img ng-src="{{ location.image }}">
          </div>
          <div class="column is-9">
            <p>{{ location.name }}<br>
              {{ location.description}}</p>
              <p><strong>{{ location.createdBy.username }}</strong></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ===== -->


  <!-- HERE: {{ usersShow }} -->
