<div class="landing">
  <h1>Hidden Travellr</h1>
  <p> Where all the hidden treasures can be found</p>
  <button class="homeLogInButton">Log In</button>
  <button class="homeSignUpButton">Sign Up</button>
</div>

<div class="homeCity">
    <div class="description">
    <div class="homeCityName">
      Bangkok<br>Thailand
    </div>
    <!-- <hr> -->
    <!-- <div class="homeCityDescription">
      This is a very good country to go to. The weather is fantastic and the nightlife is phenomenal.
    </div> -->
  </div>
</div>

<div class="homeCity">
  <div class="description">
    <div class="homeCityName">
      Barcelona<br>Spain
    </div>
    <!-- <hr> -->
    <!-- <div class="homeCityDescription">
      The great church erected in the middle of the city is one to be visited once in your lifetime.
    </div> -->
  </div>
</div>

<div class="homeCity">
  <div class="description">
    <div class="homeCityName">
      Munich<br>Germany
    </div>
    <!-- <hr> -->
    <!-- <div class="homeCityDescription">
      The beerhouse in this city is the best place to get drunked.
    </div> -->
  </div>
</div>

<div class="homeCity">
  <div class="description">
    <div class="homeCityName">
      Manila<br>Philippines
    </div>
    <!-- <hr> -->
    <!-- <div class="homeCityDescription">
      This city is full of culture and the locals are friendly.
    </div> -->
  </div>
</div>
