
<div style="background: url('{{ citiesShow.city.image }}') no-repeat center center fixed; background-size: cover;" class="cityShowLanding">
  <h1>{{ citiesShow.city.name }}</h1>
  <p>{{ citiesShow.city.country }}</p>
  <button ui-sref="citiesIndex" class="homeSignUpButton">Home</button>

</div>

<div class="cityShowName">
  {{ citiesShow.city.name }}, {{ citiesShow.city.country }}
  <button>Created by: [username here]</button>
</div>

<div class="cityShowCityInfo">
  <h1>City Info</h1>
  <hr>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
  <div class="map">
    Google maps go inside here
  </div>
</div>

<div class="wrappingLocations">
  <!-- this is 1/3 -->
  <div class="oneThird">
    <ul>
      <li>this is a test google API list</li>
      <li>this is a test google API list</li>
      <li>this is a test google API list</li>
      <li>this is a test google API list</li>
      <li>this is a test google API list</li>
    </ul>
  </div>
  <!-- this is 2/3 -->
  <div class="twoThird">
    <button style="display: block; margin: 5px 0;"> Create Location </button>
    user locations
  </div>
</div>
