<div class="landing">
  <h1>Hidden Travellr</h1>
  <p> Where all the hidden treasures can be found</p>
  <button class="homeLogInButton">Log In</button>
  <button class="homeSignUpButton">Sign Up</button>
  <div class="landingSignUpForm">
    <form>
      <label for="username">Username: </label>
      <input type="text" name="username" placeholder="Enter your name">
      <label for="email">E-mail: </label>
      <input type="text" name="email" placeholder="Enter your email">
      <label for="image">Image: </label>
      <input type="text" name="image" placeholder="Enter an URL for your profile picture">
      <label for="password">Password: </label>
      <input type="text" name="password" placeholder="Enter your password">
      <label for="passwordConfirmation">Confirm Password: </label>
      <input type="text" name="passwordConfirmation" placeholder="Confirm your password">
      <button>Submit</button>
    </form>
  </div>
  <div class="landingSignUpForm">
    <form>
      <label for="username">Username: </label>
      <input type="text" name="username" placeholder="Enter your name">
      <label for="password">Password: </label>
      <input type="text" name="password" placeholder="Enter your password">
      <button>Submit</button>
    </form>
  </div>
</div>
<a ui-sref="cityShow">
<div class="homeCity">
  <div class="description">
    <div class="homeCityName">
      Bangkok<br>Thailand
    </div>
    <!-- <hr> -->
    <!-- <div class="homeCityDescription">
    This is a very good country to go to. The weather is fantastic and the nightlife is phenomenal.
  </div> -->
</div>
</div>
</a>

<div class="homeCity">
<div class="description">
  <div class="homeCityName">
    Barcelona<br>Spain
  </div>
  <!-- <hr> -->
  <!-- <div class="homeCityDescription">
  The great church erected in the middle of the city is one to be visited once in your lifetime.
</div> -->
</div>
</div>

<div class="homeCity">
<div class="description">
  <div class="homeCityName">
    Munich<br>Germany
  </div>
  <!-- <hr> -->
  <!-- <div class="homeCityDescription">
  The beerhouse in this city is the best place to get drunked.
</div> -->
</div>
</div>

<div class="homeCity">
<div class="description">
  <div class="homeCityName">
    Manila<br>Philippines
  </div>
  <!-- <hr> -->
  <!-- <div class="homeCityDescription">
  This city is full of culture and the locals are friendly.
</div> -->
</div>
</div>
