<div class="landing">
  <h1>Hidden Travellr</h1>
  <p> Where all the hidden treasures can be found</p>
  <button ui-sref="login" class="homeLogInButton">Log In</button>
  <button ui-sref="register" class="homeSignUpButton">Sign Up</button>
</div>
<div style="animation: fadein 5s;" ng-repeat="city in citiesIndex.all">
<div class="homeCity">
  <div style="background: url('{{city.image}}') no-repeat center center;
          background-size: cover;" class="description">
    <div class="homeCityName">
      {{city.name}}<br>{{city.country}}
    </div>
    <!-- <hr> -->
    <!-- <div class="homeCityDescription">
    This is a very good country to go to. The weather is fantastic and the nightlife is phenomenal.
  </div> -->
</div>
</div>
</div>
