<section class="section">
  <div class="columns cityShowTop">
    <div class="column is-6">
      <google-map locations="citiesShow.city.locations" center="{ lat: citiesShow.city.lat, lng: citiesShow.city.lng}" places="citiesShow.places" type="citiesShow.type" radius="citiesShow.radius"></google-map>
    </div>
    <div class="column is-6">
      <div>
        <span>{{citiesShow.city.name}}, {{citiesShow.city.country}}</span>
      </div>
      <div>
        <h2><strong>City Description</strong></h2>
        <p>{{ citiesShow.city.description }}</p>
      </div>

      <div>
        <h2>Choose a location <strong>type</strong>:</h2>
        <select name="locationTypeFilter" ng-model="citiesShow.type">
          <option value="airport">airport</option>
          <option value="bar">bar</option>
          <option value="bus_station">bus station</option>
          <option value="cafe">cafe</option>
          <option value="casino">casino</option>
          <option value="hospital">hospital</option>
          <option value="meal_takeaway">meal takeaway</option>
          <option value="night_club">night club</option>
          <option value="restaurant">restaurant</option>
          <option value="subway_station">subway station</option>
          <option value="train_station">train station</option>
          <option value="travel_agency">travel agency</option>
        </select>
      </div>
      <div>
        <h2>Choose your desired <strong>radius</strong>:</h2>
        <input name="locationRadiusFilter" class="slider" type="range" ng-model="citiesShow.radius" name="radius" step="100" min="100" max="2500" ng-model-options="{ debounce: 250 }">
      </div>
    </div>
  </div>
  <hr>
  <div class="columns">
    <div class="column is-4">
      <div class="cityShowLocations">
        <h2>Nearby Locations</h2>
        <div class="columns" ng-repeat="place in citiesShow.places" >
          <div class="column is-4">
            <img ng-src="{{ place.imageUrl }}">
          </div>
          <div class="column is-8">
            Name: {{ place.name }}<br>
            Address: {{ place.vicinity }}
            <div ng-if="{{place.rating}}">Rating: {{ place.rating }}</div>
            <hr>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-8">
      <div class="cityShowLocations">
        <h2>User Locations</h2>
        <div ui-sref="locationsShow.location({ id: location.id })" class="columns" ng-repeat="location in citiesShow.city.locations">
          <div class="column is-4">
            <img ng-src="{{ location.image }}">
          </div>
          <div class="column is-8">
            <div class="cityShowLocationName">{{ location.name }}<div><br>
            {{ location.description }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
