

    <div class="columns">
      <div class="column is-4 is-offset-4">
        <h1 class="title">Enter your details</h1>
        <p class="title">Log in to be able to see a world of beauty</p>
        <form class="box" name="login.loginForm" ng-submit="login.submit()" novalidate>
      <div class="field">
        <label for="email">Email</label>
          <p class="control">
        <input class="input" type="email" name="email" id="email" ng-model="login.credentials.email" required>
        </p>

        <div ng-messages="login.loginForm.email.$error" role="alert" ng-show="(login.loginForm.$submitted || login.loginForm.email.$touched) && login.loginForm.email.$invalid" class="error">
          <div ng-message="required">Please enter a value for this field.</div>
          <div ng-message="email">This field must be a valid email address.</div>
        </div>
      </div>
      <div class="field">
        <label for="password">Password</label>
          <p class="control">
        <input class="input" type="password" name="password" id="password" ng-model="login.credentials.password" required>
      </p>
        <div ng-messages="login.loginForm.password.$error" role="alert" ng-show="(login.loginForm.$submitted || login.loginForm.password.$touched) && login.loginForm.password.$invalid" class="error">
          <div ng-message="required">Please enter a value for this field.</div>
        </div>
      </div>
      <button class="button is-primary">Login</button>
      <p class="has-text-centered">
          <a href="#">Need help?</a>
      </p>
    </form>

  </div>

</div>
