<!DOCTYPE html>
<html ng-app="hiddenTravellr">
<head>
  <title>Hidden Travellr</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
  <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBg6zaDPr9QfiTZZ5Jb9pKqOWT2GjQSQu0&libraries=places" charset="utf-8"></script>
  <!-- inject:js -->
  <!-- endinject -->
  <!-- inject:css -->
  <!-- endinject -->
</head>
<body ng-controller="MainCtrl as main">

  <nav class="nav">


      <div class="nav-left">
        <a class="nav-item is-tab is-hidden-mobile" ui-sref="home" ui-sref-active="active">Hidden Travellr</a>
        <a class="nav-item is-tab is-hidden-mobile" ui-sref="citiesIndex">Cities</a>
        <a class="nav-item is-tab is-hidden-mobile" ng-if="main.isAuthenticated()" ui-sref="locationsNew">Add a location</a>
        <a class="nav-item is-tab is-hidden-mobile" ng-if="main.isAuthenticated()" ui-sref="citiesNew">Add a city</a>
      </div>
      <span class="nav-toggle">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </span>
      <div class="nav-right">

        <a class="nav-item is-tab is-hidden-mobile" ng-if="main.isAuthenticated()" ui-sref="usersShow({ id: main.currentUser.id })">
          <figure class="image is-20x20" style="margin-right: 8px;">
            <img id="profilePictureNav" src="{{ main.currentUser.profilePicture }}">
          </figure>
          Profile
        </a>
        <a class="nav-item is-tab is-hidden-mobile"  ng-if="!main.isAuthenticated()" ui-sref="login">Login</a>
        <a class="nav-item is-tab is-hidden-mobile" ng-if="!main.isAuthenticated()" ui-sref="register">Register</a>
        <a class="nav-item is-tab is-hidden-mobile" ng-click="main.logout()" ng-if="main.isAuthenticated()">Logout</a>
      </div>

  </nav>

<div class="message-response" ng-if="main.message">
  <p>{{ main.message }}</p>
</div>
<main ui-view>
</main>

</body>
</html>
