<!DOCTYPE html>
<html ng-app="hiddenTravellr">
<head>
  <title>Hidden Travellr</title>
  <base href="/">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700" rel="stylesheet">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBg6zaDPr9QfiTZZ5Jb9pKqOWT2GjQSQu0" charset="utf-8"></script>
  <!-- inject:js -->
  <!-- endinject -->
  <!-- inject:css -->
  <!-- endinject -->
</head>
<body ng-controller="MainCtrl as main">

  <nav class="nav has-shadow">
    <div class="nav-left">
      <a class="nav-item" ui-sref="locationsIndex">
        Hidden Travellr
      </a>
    </div>

    <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
    <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
    <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>

    <!-- This "nav-menu" is hidden on mobile -->
    <!-- Add the modifier "is-active" to display it on mobile -->
    <div class="nav-right nav-menu">
      <ul>
        <li><a ui-sref="locationsIndex" ui-sref-active="active">All Locations</a></li>
        <li><a ui-sref="citiesIndex" ui-sref-active="active">All Cities</a></li>
        <li ng-if="main.isAuthenticated()"><a ui-sref="locationsNew" ui-sref-active="active">Add a location</a></li>
        <li ng-if="!main.isAuthenticated()"><a ui-sref="login" ui-sref-active="active">Login</a></li>
        <li ng-if="!main.isAuthenticated()"><a ui-sref="register" ui-sref-active="active">Register</a></li>
        <li><a class="navbar-item" ui-sref="usersShow({ id: main.currentUser.id })"><img id="profilePicture" src="{{ main.currentUser.profilePicture }}">  Hi {{ main.currentUser.username}}!  </a></li>
        <li ng-click="main.logout()" ng-if="main.isAuthenticated()"><a ui-sref="locationsIndex">Logout</a></li>
    </ul>
    </div>
  </nav>
    <div class="message" ng-if="main.message">
        <p>{{ main.message }}</p>
    </div>
  <main class="container" ui-view></main>

</body>
</html>
