@import "partials/_global.scss";
@import "partials/_navbar.scss";
@import "partials/_signup.scss";
@import "partials/_keyframes.scss";
@import "partials/_maps.scss";
@import "bulma/sass/utilities/initial-variables";

$primary: #6ab5ff;
$danger: #f9628b;
$family-serif: 'Playfair Display', serif;
$family-primary: $family-serif;

@import "bulma/bulma";

.columns.card {
  height: 30vh;
  margin-bottom: 10px;
}
#profilePictureNav {
  border-radius: 10px;
  height: 30px;
  width: 30px;
}
.userShowNavBar {
  background-color: #343a40;
  margin-top: 0;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  ul {
    display: flex;
    align-items: center;
  }
  li {
    margin: 2px 20px;
  }
  a {
    text-decoration: none;
    color: white;
  }
}
