@import "partials/_colors.scss";
@import "partials/_user.scss";
@import "partials/_landing.scss";
@import "partials/_global.scss";
@import "partials/_locations.scss";
@import "partials/_cities.scss";
@import "partials/_navbar.scss";
@import "partials/_signup.scss";
@import "partials/_keyframes.scss";
@import "partials/_maps.scss";
@import "bulma/sass/utilities/initial-variables";
@import "bulma/bulma";

main {
  margin-top: 50px;
}
.userProfileImage {

  height: 200px;
  width: 200px;
  border-radius: 30%;

}

.userCoverImage {
  height: 300px;
  max-width: 100%;
  // object-fit: contain;
}
input {
  width: 100%;
}
.comments__created {
  height: 200px;
  overflow: scroll;
}

.nav {
  border-bottom: 1px solid gray;
}
#profilePictureNav {
  border-radius: 40%;
}

#cityname {
  padding: 10% 0 0 10%;
  font-size: 3rem;
  color: white;
}
.user {
  height: 50vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}
